body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dataset-details-title {
    margin-left: 1.5%;
}

.dataset-divider {
    width: 97%
}

.dataset-details-page {
	width: 100%;
	height: 100%;
}

.dataset-details-cols {
	width: 25%;
	height: 100%;
	padding: 10px;
	float:left;
}

.dataset-details-col-left {
	width: 50%;
	height: 100%;
	padding: 3px;
	float: left;
}

.dataset-details-col-right {
	width: 50%;
	height: 100%;
	padding: 3px;
	float: right;
}

.dataset-details-col-button {
    margin-top: 5px;
    width: 100%;
    height: 40px;
}

.dataset-details-desc {
    width: 50%;
    height: 100%;
    padding: 10px;
    float:left;
}

.dataset-details-metadata {
    width: 25%;
    padding: 10px;
    float: right;
}

.dataset-details-meta-button {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
}