#logo {
  align-self: center;
  justify-content: center;
  margin-left: 25px;
}

#header {
  align-self: center;
  justify-content: center;
}

#searchForm {
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

#searchBar {
  flex: auto;
  align-self: center;
  justify-content: center;
}
