#logo {
  align-self: center;
  justify-content: center;
}

#header {
  align-items: center;
  justify-content: center;
}

#searchForm {
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

#searchBar {
  flex: auto;
  align-self: center;
  justify-content: center;
}

#header-container {
  justify-content: center;
  align-self: center;
}

#logoBanner {
  height: 64px;
}

.navbar {
  height: 65px;
}

.navbar .navbar-brand {
  line-height: 32px;
}

#buttonContainer {
  align-items: center;
  height: inherit;
  margin-left: auto;
  margin-right: 8px;
  justify-self: flex-end;
}

#headerContainer {
  display: inline-flex;
  flex: auto;
  flex-direction: row;
  width: 100%;
}

.ant-btn {
  line-height: 50%;
}

h2, h1 {
  margin: 0;
}
